option_settings:
  aws:elbv2:listener:default:
    ListenerEnabled: 'true' 
  aws:elbv2:listener:443:
    DefaultProcess: https
    ListenerEnabled: 'true'
    Protocol: HTTPS
    SSLCertificateArns: arn:aws:acm:us-west-2:633999724589:certificate/eb02a737-5d83-4f11-9596-9b04bc420d11
  aws:elasticbeanstalk:environment:process:https:
    Port: '80'
    Protocol: HTTP