container_commands:
  01_migrate: # リーダー判定用の一時ファイルを作成
    command: "touch /tmp/leader_only"
    leader_only: true

files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/10_post_migrate.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash -eu
      if [ -f /tmp/leader_only ] # リーダーインスタンスでのみ実行
      then
        # リーダー判定用の一時ファイルを削除する
        rm /tmp/leader_only

        DIR="migrations"

        if [ ! -d $DIR ]; then
          docker exec `docker ps -l -q` flask db init
        fi
        docker exec `docker ps -l -q` flask db migrate
        docker exec `docker ps -l -q` flask db upgrade
        docker exec `docker ps -l -q` flask db upgrade
      fi